:root {
    --secondary-bg-color: rgb(68, 51, 64);
    --button-color: rgb(83, 63, 79);
    --button-hover-color: rgb(112, 86, 107);
}

html, body {
    height: 100%;
    padding: 0; margin: 0;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;
}

button {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

button:hover {
    background-color: var(--button-hover-color);}

/* Header */

#header {
    background-color: var(--secondary-bg-color);
    padding: 5px;
}

/* Editor */

#editor_container {
    display: flex;
    height: 50vh;
    overflow-y: scroll;
    resize: vertical;
}

#editor_line_numbers {
    color: rgb(117, 117, 116);
    flex: none;
    padding: 3px;
    white-space: pre;
    font-family: monospace;
    font-size: x-large;
    min-width: 2em;
    text-align: end;
    margin-right: 1em;
    user-select: none;
}

#editor {
    padding: 3px;
    white-space: pre;
    caret-color: black;
    font-family: monospace;
    font-size: x-large;
    flex: auto;
    border: none;
    outline: none;
    caret-color: white;
}

*::selection {
    background-color: rgb(13, 62, 117);
}

span.token.highlight {
    background-color: rgb(81, 81, 80);
}

span.token.constant {
    color: rgb(137, 197, 253);
}

span.token.identifier {
    color: rgb(255, 255, 255);
}

span.token.keyword {
    color: rgb(22, 250, 22);
}

span.token.assign {
    color: rgb(154, 88, 27);
}

span.token.semicolon {
    color: rgb(154, 88, 27);
}

span.token.operator {
    color: rgb(189, 136, 83);
}

span.token.openparen, span.token.closeparen, span.token.opensqbracket, span.token.closesqbracket {
    color: rgb(191, 50, 216);
}

span.token.type {
    font-weight: bolder;
}

span.token.error {
    text-decoration: wavy underline red;
}

/* Output */

#output {
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--secondary-bg-color);
    padding: 3px;
    overflow-y: scroll;
}

button.selected {
    outline: 5px solid black;
}

#log {
    margin: 3px;
    font-family: monospace;
    font-size: x-large;
}

#errors {
    color: red;
    padding: 3px;
    font-family: monospace;
    font-size: x-large;
}