#editor {
    padding: 10px;
    font-size: x-large;
    font-family: monospace;
    counter-reset: line-number;
    white-space: pre-wrap;
    list-style: none;
    height: 70vh;
    padding-left: 0px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 5px;
}

#editor:focus {
    outline: none;
}

#editor > li::before {
    overflow: visible;
    counter-increment: line-number;
    content: counter(line-number);
    display: inline-block;
    color: rgb(192, 184, 184);
    text-align: end;
    width: 40px;
    padding-right: 20px;
}

#editor > li.error::before {
    color: black;
    background-color: rgb(242, 178, 178);
}

::highlight(keyword-syntax) {
    color:rgb(60, 15, 208);
}

::highlight(number-syntax) {
    color: rgb(61, 160, 70);
}

/* ::highlight(operator-syntax) {
    
} */

::highlight(comment-syntax) {
    color: rgb(138, 138, 139);
}

::highlight(error-syntax) {
    text-decoration: wavy underline red;
}

::highlight(type-syntax) {
    color: rgb(131, 54, 153);

    /* text-decoration: underline; */
}

.spinner {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.spinner:not([data-pending-ops="0"]) {
    animation: spin 2s linear infinite;
    border-left-color: black;
    border-right-color: black;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);        
    }
}